.green-range {
  color: green;
}

.red-range {
  color: red;
}

.table-row-head {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 0.1);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-logo > span {
  font-size: 1.5rem;
}

.content-center {
  place-content: center;
}

.ant-list-vertical .ant-list-item {
  flex-wrap: wrap-reverse;
    gap: 1.5rem;
    justify-content: center;
}

.ant-list-vertical .ant-list-item-extra {
  margin-left: 0 !important;
}

.ant-list-item-main {
  min-width: 30ch;
}